.table {
  width: 100%;

  display: flex;
  justify-content: center;

}
  
table {
  border: 2px solid forestgreen;
  width: 800px;

}
  
th {
  border-bottom: 1px solid black;
}
  

th.head {
  display: flex;
  justify-content: space-around;
}

tr.row-data {border: 1px solid;
  text-align: center;
  }
.user {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
label {
  color: green;
}

input[type="submit"] {
  color: green;
}
table tr:nth-child(even) {
  background:rgba(70, 147, 153, 0.3);
}